{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_logo %}
    <div class="col-auto d-lg-none menu-toggle-col">
        {% block layout_header_navigation_toggle_button %}
            <button
                class="btn nav-main-toggle-btn header-actions-btn"
                type="button"
                {# @deprecated tag:v6.6.0 - Registering plugin on selector "data-offcanvas-menu" is deprecated. Use "data-off-canvas-menu" instead #}
                {% if feature('v6.6.0.0') %}
                    data-off-canvas-menu="true"
                {% else %}
                    data-offcanvas-menu="true"
                {% endif %}
                aria-label="{{ "general.menuLink"|trans|striptags }}"
            >
                {% block layout_header_navigation_toggle_button_icon %}
                    {% sw_icon 'stack' %}
                {% endblock %}
            </button>
        {% endblock %}
    </div>

    <div class="col-auto header-logo-col">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>
{% endblock %}

{% block layout_header_search %}
    <div class="col-12 d-none d-md-block header-search-col">
        {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
    </div>
{% endblock %}

{% block layout_header_actions %}
    <div class="col-auto header-actions-col">
        <div class="row g-0">
            {% block layout_header_search_toggle %}
                <div class="col-auto d-md-none">
                    <div class="search-toggle">
                        <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#searchCollapse"
                                aria-expanded="false"
                                aria-controls="searchCollapseMobile"
                                aria-label="{{ "header.searchButton"|trans|striptags }}">
                            {% sw_icon 'search' %}
                        </button>
                    </div>
                </div>
            {% endblock %}

            {% if config('core.cart.wishlistEnabled') %}
                {% block layout_header_actions_wishlist %}
                    {{ parent() }}
                {% endblock %}
            {% endif %}

            {% block layout_header_actions_account %}
                {{ parent() }}
            {% endblock %}

            {% block layout_header_actions_cart %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block layout_header_navigation %}
    {{ parent() }}

    <div class="row header-mobile-search-row">
        <div class="col-12 d-md-none header-search-col-mobile">
            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' with {
                'overwriteId': 'searchCollapseMobile'
            } %}
        </div>
    </div>
{% endblock %}
